@font-face {
  font-family: "iconfont"; /* Project id 2796804 */
  src: url('//at.alicdn.com/t/font_2796804_thhzws6cut9.woff2?t=1631609512210') format('woff2'),
       url('//at.alicdn.com/t/font_2796804_thhzws6cut9.woff?t=1631609512210') format('woff'),
       url('//at.alicdn.com/t/font_2796804_thhzws6cut9.ttf?t=1631609512210') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test1:before {
  content: "\e61e";
}

.icon-xiazai:before {
  content: "\e608";
}

.icon-icon-test:before {
  content: "\e63d";
}

.icon-fenxiang:before {
  content: "\e626";
}

.icon-smile:before {
  content: "\e673";
}

.icon-zhuti:before {
  content: "\e682";
}

.icon-yuyan:before {
  content: "\e684";
}

.icon-chabei:before {
  content: "\e6bb";
}

.icon-tubiaozhizuosvg-40:before {
  content: "\e609";
}

.icon-fengge:before {
  content: "\ee26";
}

.icon-yonghu1:before {
  content: "\e69c";
}

.icon-jingpin:before {
  content: "\e60e";
}

.icon-bofang:before {
  content: "\e610";
}

.icon-bofang1:before {
  content: "\101c5";
}

.icon-bofang4:before {
  content: "\e607";
}

.icon-ttpodicon:before {
  content: "\e624";
}

.icon-iconfontxihuan02eps:before {
  content: "\e611";
}

.icon-gedan:before {
  content: "\e601";
}

.icon-favorite:before {
  content: "\e602";
}

.icon-zuijinbofang:before {
  content: "\e605";
}

.icon-yunpan:before {
  content: "\e622";
}

.icon-xindong:before {
  content: "\e603";
}

.icon-xiazaiguanli:before {
  content: "\e612";
}

.icon-shouye:before {
  content: "\e618";
}

.icon-tuichudenglu:before {
  content: "\e647";
}

.icon-huiyuan:before {
  content: "\e8a6";
}

.icon-bangding:before {
  content: "\e7bb";
}

.icon-dengji:before {
  content: "\e6f7";
}

.icon-gerenxinxishezhi:before {
  content: "\e689";
}

.icon-password:before {
  content: "\e64a";
}

.icon-yonghu:before {
  content: "\e663";
}

.icon-xiaoxi1:before {
  content: "\e667";
}

.icon-xiangxia:before {
  content: "\e600";
}

.icon-gerenzhongxinweidenglutouxiang:before {
  content: "\e644";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-tinggeshiqu:before {
  content: "\e64f";
}

.icon-shezhi:before {
  content: "\e892";
}

.icon-pifu:before {
  content: "\e650";
}

.icon-xiayiye:before {
  content: "\e77c";
}

.icon-shangyiye:before {
  content: "\e77d";
}
